:root {
  --primary-font-color: #1e1e1e;
  --heading-font: "Vollkorn", serif;
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Lato", sans-serif;
}

nav {
  color: var(--primary-font-color);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

nav p {
  font-family: var(--heading-font);
  font-size: 20px;
  margin: 0;
}

nav ul {
  font-family: var(--primary-font);
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav li {
  display: inline;
  font-size: 18px;
  padding: 0 12px;
  margin-left: 32px;
}

nav a {
  color: var(--primary-font-color);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  font-family: var(--heading-font);
  font-size: 60px;
  font-weight: 400;
  line-height: 100%;
  max-width: 800px;
}

p {
  font-family: var(--primary-font);
  line-height: 26px;
  font-size: 16px;
}

section {
  padding: 80px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-img {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02),
    0px 9px 7px 0px rgba(0, 0, 0, 0.03), 0px 23px 15px 0px rgba(0, 0, 0, 0.04),
    0px 44px 29px 0px rgba(0, 0, 0, 0.04), 0px 74px 54px 0px rgba(0, 0, 0, 0.05);
}

@media (max-width: 786px) {
  h1 {
    font-size: 42px;
  }
}
